@model Atestados.Objetos.Dtos.LibroDTO

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

@using Atestados.Negocios.Negocios;
@using Atestados.Objetos.Dtos;

<div class="container-fluid">
    <div class="row">
        <h2>Artículo</h2>
        <hr />
    </div>
    <div class="row w-100">
        <div class="col-lg-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Enlace" class="control-label col-md-2">DOI</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Enlace, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Enlace, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Editorial" class="control-label col-md-2">Revista</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Editorial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Editorial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Annio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.Annio, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.Annio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PaisID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PaisID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAutores">
                            Modificar autores
                        </button>
                        @Html.ValidationMessageFor(model => model.AutoresCheck, "", new { @class = "text-danger" })
                    </div>
                    <div hidden>
                        @*Checkbox oculto porque si está dentro del modal, no devuelve el estado correctamente.*@
                        @Html.CheckBoxFor(model => model.AutoresEq)
                        @Html.CheckBoxFor(model => model.AutoresCheck)
                    </div>

                    <div class="form-group my-2">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear" class="btn btn-success" id="submit" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-4">
            <div class="form-horizontal">
                <form id="subirArchivo">
                    <div class="form-group mb-2">
                        <div class="col-md-10">
                            <input type="file" name="archivo" id="archivo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="Subir Archivo" form="subirArchivo" />
                        </div>
                    </div>
                </form>
                @Html.Partial("_ArchivosTabla")
            </div>
        </div>
    </div>
    <div class="row table-wraper scrollbar-atestados">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Artículos agregados
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (AtestadoDTO item in ViewBag.Atestados)
                {
                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            <a href="@Url.Action("Editar", "Articulo", new { id = item.AtestadoID })" class="btn btn-warning btn-sm" title="Editar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a>
                            <a href="@Url.Action("Ver","Articulo", new {id = item.AtestadoID})" class="btn btn-primary btn-sm" title="Ver">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg>
                            </a>
                            <a href="@Url.Action("Borrar","Articulo", new {id = item.AtestadoID})" class="btn btn-danger btn-sm" title="Borrar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="#000" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="modalAutores" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Modificar autores</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_AutoresTabla")
                <h3>Autor externo al Tec</h3>
                <table class="table">
                    <tr>
                        <td><input class="form-control" type="text" placeholder="Nombre" id="nombre" /></td>
                        <td><input class="form-control" type="text" placeholder="Primer apellido" id="apellido1" /></td>
                        <td><input class="form-control" type="text" placeholder="Segundo apellido" id="apellido2" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="email" placeholder="Correo electrónico" id="email" /></td>
                        <td><input class="form-control" type="number" placeholder="Porcentaje" id="porcentaje" /></td>
                        <td><button type="button" class="btn btn-primary" id="autorAgregar">Agregar</button></td>
                    </tr>
                </table>
                <h3>Autor interno del Tec</h3>
                <table class="table">
                    <tr>
                        <td><input class="form-control" type="email" placeholder="Correo electrónico" id="email_funcionario" runat="server" /></td>
                        <td><input class="form-control" type="number" placeholder="Porcentaje" id="porcentaje_funcionario" /></td>
                        <td><button type="button" class="btn btn-primary" id="funcionarioAgregar">Agregar</button></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="me-auto">
                    <input class="form-check-input" type="checkbox" value="" id="hiddenCheck" name="hiddenCheck" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Porcentaje equitativo
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    @{InformacionGeneral infoGeneral = new InformacionGeneral();}
    // Esta variable debe estar en todas las vistas de atestados.
    var baseUrl = "@Variables.BaseUrl/Atestados";
    var editMode = false;
    var hasAutores = true;
</script>
@Scripts.Render("~/bundles/atestados_shared")
