@model Atestados.Objetos.Dtos.EvaluacionXAtestadoDTO
@{
    ViewBag.Title = "Evaluar";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}



@section Scripts
 {
    <script>
        $("#addRow").click(function () {
            var rowCount = parseInt($("#total").val());
            rowCount++;
            $("#total").val(rowCount);
            var html = '';
            html += '<div id="inputRow">';
            html += '<input type="text" name="[' + (rowCount - 1) + '].Rubro"  />';
            html += '<input type="number" name="[' + (rowCount - 1) + '].Puntaje"  />';
            //add more inputs here...
            html += '<button id="removeRow" type="button" class="btn btn-danger">Eliminar</button>';
            html += '</div>';

            $('#newRow').append(html);
        });
        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#total").val());
            rowCount--;
            $("#total").val(rowCount);
            $(this).closest('#inputRow').remove();
        });
    </script>
}

<div class="container-fluid">
    <div class="row">
        <h2>Evaluar</h2>
        <hr />
    </div>
    <p>Ingrese la evaluación correspondiente al atestado<p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row w-100">
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Funcionario
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Atestado.Persona.Nombre)
                            @Html.DisplayFor(model => model.Atestado.Persona.PrimerApellido)
                            @Html.DisplayFor(model => model.Atestado.Persona.SegundoApellido)
                        </dd>
                    </dl>
                
                    <form method="post">
                        <dt>
                            Formulario
                        </dt>
                        <div id="newRow">
                            <input type="hidden" id="total" value="0" />
                        </div>
                        <button id="addRow" type="button" class="btn btn-outline-primary">Agregar</button>
                        <input type="submit" class="btn btn-outline-primary" value="Crear" />
                    </form>
                </div>
                <div class="col-lg-6">
                    <!-- columna izquierda -->
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PorcentajeObtenido, "Porcentaje obtenido", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PorcentajeObtenido, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0, @max = 100 } })
                                @Html.ValidationMessageFor(model => model.PorcentajeObtenido, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Evaluar" class="btn btn-outline-primary" id="submit" />
                                <a class="btn btn-outline-primary" href="https://www.tec.ac.cr/reglamentos/normas-aplicacion-reglamento-carrera-profesional-instituto-tecnologico-costa-rica" target="_blank">Consultar Reglamento</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>

