<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")

    <title>SIRA</title>

</head>
<body style="padding: 100px 10px 10px;">
    <div class="container">
    </div>
    <div id="main">
        <!--Cabecera-->
        @RenderPage("~/Views/Shared/Header.cshtml")
        <!--Cuerpo-->
        @RenderBody()
        <!--Footer-->
        @*@RenderPage("~/Views/Shared/Footer.cshtml")*@
        <!--Popups-->
        @RenderPage("~/Views/Shared/Popups.cshtml")
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var rootDir = "";
        var rootDirImage = "@Url.Content("~/")";
    </script>

    <script src="~/Scripts/Utilitarios/Mensajes.js"></script>
    <script src="~/Scripts/Utilitarios/loadingoverlay.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
