<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRA</title>

    <!-- Bootstrap Core CSS esencial para estructar pantalla de logueo-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Hoja de estilos para el proyecto SIRA en específico.-->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Custom CSS esencial para estructar pantalla de logueo-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/icons.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body class="bgLogin">
    <div id="main" class="">
        <!-- Navegacion -->
        <nav id="navHeader" class="navbar navbar-dark navbar-tec fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Logo TEC -->
                <div class="navbar-header px-3">
                    <a class="navbar-brand img-responsive" href="@Url.Action("Index", "Login")">
                        <img src="~/Content/img/logotec_blanco.png" alt="">
                    </a>
                </div>
                <!-- Fin Logo TEC -->
            </div>
            <!-- Fin container de navegación -->
        </nav>
        <!-- Fin Navegacion-->
        <!--Cuerpo de Aplicacion-->
        @RenderBody()
        <!--Fin Cuerpo de Aplicacion-->
        <!--Footer-->
        @RenderPage("~/Views/Shared/Footer.cshtml")
        <!--Fin Footer-->

    </div>
    <script type="text/javascript">
        var rootDir = "";
        var rootDirImage = "@Url.Content("~/")";
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Utilitarios/Mensajes.js"></script>
    <script src="~/Scripts/Utilitarios/loadingoverlay.min.js"></script>

    @RenderSection("scripts", required: false)
    <!--Valores-->
    <input type="hidden" id="contAutenticarUsuario" value="@Url.Action("ValidarUsuario", "Login")">
    <input type="hidden" id="contAutenticarUsuario" value="@Url.Action("PaginaInvalida", "Login")">
    @*@Html.Hidden("RedirectTo", Url.Action("Index", "Home"))*@
</body>

</html>
