
@{
    ViewBag.Title = "Sidebar";
}

@* Atestados que faltan por enlacar con el sidebar:
        <li class="list-group-item" id="Ponencia">@Html.RouteLink("Ponencia", new { action = "Crear", controller = "Ponencia" })</li>
*@

@*Reminder: @Url.Action("Pagina", "Controlador")*@

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar-tec nav-padding">
    <div class="d-flex flex-column text-start align-items-sm-start px-3 pt-2 text-white">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 text-start align-items-sm-start" id="menu">
            <li><span class="ms-1 d-none d-sm-inline h4">Ver atestados</span></li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Funcionario")" class="btn btn-toggle text-start rounded collapsed text-white">
                    <i class="fs-4 bi-eyeglasses"></i> <span class="ms-1 d-none d-sm-inline">Ver atestados</span>
                </a>
                <hr class="white-hr hw-100" />
            </li>
            <li><span class="ms-1 d-none d-sm-inline h4">Agregar atestados</span></li>

            <li>
                <button class="btn btn-toggle text-start rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#prod-uni-menu" aria-expanded="true">
                    <i class="fs-4 bi-folder"></i> <span class="ms-1 d-none d-sm-inline">1. Producción universitaria</span>
                </button>
                <div class="collapse" id="prod-uni-menu" data-bs-parent="#menu">
                    <ul class="nav flex-column ms-1">
                        <li>
                            <a href="@Url.Action("Crear","Libro")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">a. Libro</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear","Articulo")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-file-text"></i> <span class="ms-1 d-none d-sm-inline">b. Artículo</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-code-slash"></i> <span class="ms-1 d-none d-sm-inline">c. Desarrollo de software</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-trophy"></i> <span class="ms-1 d-none d-sm-inline">d. Proyecto de graduación galardonado</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "ObraDidactica")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-clipboard-check"></i> <span class="ms-1 d-none d-sm-inline">e. Obra didáctica</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "ObraAdministrativa")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-building"></i> <span class="ms-1 d-none d-sm-inline">f. Obra administrativa de desarrollo</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "OtrasObrasProf")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-briefcase"></i> <span class="ms-1 d-none d-sm-inline">g. Otras obras profesionales</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-easel"></i> <span class="ms-1 d-none d-sm-inline">h. Obras artísticas</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn btn-toggle text-start rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#proy-uni-menu" aria-expanded="true">
                    <i class="fs-4 bi-folder"></i> <span class="ms-1 d-none d-sm-inline">2. Proyección universitaria</span>
                </button>
                <div class="collapse" id="proy-uni-menu" data-bs-parent="#menu">
                    <ul class="nav flex-column ms-1">
                        <li>
                            <a href="@Url.Action("Crear","ProyectosInvEx")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-bar-chart"></i> <span class="ms-1 d-none d-sm-inline">a. Proyectos investigación-extensión</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-calendar3"></i> <span class="ms-1 d-none d-sm-inline">b. Actividades de fortalecimiento investigación-extensión</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-file-earmark-post"></i> <span class="ms-1 d-none d-sm-inline">c. Patentes</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Capacitacion")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-projector"></i> <span class="ms-1 d-none d-sm-inline">d. Capacitación interna impartida</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-puzzle"></i> <span class="ms-1 d-none d-sm-inline">e. Trabajo docente no remunerado</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-puzzle-fill"></i> <span class="ms-1 d-none d-sm-inline">f. Trabajo de graduación no remunerado</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-award"></i> <span class="ms-1 d-none d-sm-inline">g. Premios nacionales e internacionales</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-person-badge"></i> <span class="ms-1 d-none d-sm-inline">h. Membresía consejos editoriales</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-person-badge-fill"></i> <span class="ms-1 d-none d-sm-inline">i. Membresía ogranismos extrainstitucionales</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-kanban"></i> <span class="ms-1 d-none d-sm-inline">j. Organización eventos proyección externa</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-kanban-fill"></i> <span class="ms-1 d-none d-sm-inline">k. Participación eventos proyección externa</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-layers-half"></i> <span class="ms-1 d-none d-sm-inline">l. Colaboración eventos externos</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-bicycle"></i> <span class="ms-1 d-none d-sm-inline">m. Participación eventos deportivos</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-newspaper"></i> <span class="ms-1 d-none d-sm-inline">n. Publicaciones medios de comunicación masiva</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-bookmark-star"></i> <span class="ms-1 d-none d-sm-inline">ñ. Jurado premios nacionales</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                &emsp;<i class="fs-4 bi-card-checklist"></i> <span class="ms-1 d-none d-sm-inline">o. Centros de formación humanística impartidos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn btn-toggle text-start rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#form-uni-menu" aria-expanded="true">
                    <i class="fs-4 bi-folder"></i> <span class="ms-1 d-none d-sm-inline">3. Formación universitaria</span>
                </button>
                <div class="collapse" id="form-uni-menu" data-bs-parent="#menu">
                    <ul class="nav flex-column ms-1">
                        <li>
                            <a href="@Url.Action("Crear", "Certificado")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-file-earmark-medical"></i> <span class="ms-1 d-none d-sm-inline">a. Grados académicos</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear","Idioma")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-translate"></i> <span class="ms-1 d-none d-sm-inline">b. Idiomas</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-terminal"></i> <span class="ms-1 d-none d-sm-inline">c. Conocimiento de software</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-journal-check"></i> <span class="ms-1 d-none d-sm-inline">d. Capacitación profesional recibida</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn btn-toggle text-start rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#part-uni-menu" aria-expanded="true">
                    <i class="fs-4 bi-folder"></i> <span class="ms-1 d-none d-sm-inline">4. Participación interna oficial</span>
                </button>
                <div class="collapse" id="part-uni-menu" data-bs-parent="#menu">
                    <ul class="nav flex-column ms-1">
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-compass"></i> <span class="ms-1 d-none d-sm-inline">a. Director de departamento o rango superior</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-megaphone"></i> <span class="ms-1 d-none d-sm-inline">b. Responsable de unidad</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-person-workspace"></i> <span class="ms-1 d-none d-sm-inline">c. Participación congreso institucional</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-diagram-3"></i> <span class="ms-1 d-none d-sm-inline">d. Miembro de órganos institucionales</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-receipt"></i> <span class="ms-1 d-none d-sm-inline">e. Participación en comisiones institucionales</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Crear", "Atestados")" class="btn btn-toggle text-start rounded collapsed text-white">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">f. Designación labores especiales</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

